doctype html
html(lang="de")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title Highscore
        link(rel="stylesheet" href="themes/minimal_8bit.sass")
    body
        #app
        script(src="index.ts")
