@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap")

$color_red: #e93841
$color_blue: #4d80c9
$color_green: #5ae150
$color_yellow: #ffe947
$color_purple: #7d3ebf

body
  background: #000
  color: #fff
  font-family: "Press Start 2P", cursive
  text-transform: uppercase

#app
  font-size: 1.4em

.game
  position: relative
  margin: 10em auto
  padding: 0 1em
  min-width: 60em
  width: 60%
  box-sizing: border-box

  .back
    position: absolute
    cursor: pointer

    background: url("../assets/back.svg")
    width: 3em
    height: 3em

    transform: translate(-300%, 0)

  .header
    display: flex
    justify-content: space-between
    font-size: 2.5em
    margin-bottom: 2em
    color: $color_yellow
    flex-wrap: wrap

    .highscore
      margin: 0 1em .2em 0

  ol
    font-size: 1.5em
    list-style: none
    padding: 0

    li
      display: flex
      padding: 0.4em 0

      .score
        text-align: right
        flex-grow: 1

      &:nth-of-type(1)::before
        content: ""
        background: url("../assets/crown.svg")
        width: 1em
        height: 1em
        margin-right: .5em

      &:nth-of-type(3n + 1)
        color: $color_red

      &:nth-of-type(3n + 2)
        color: $color_blue

      &:nth-of-type(3n + 3)
        color: $color_green

  &.compact
    width: 80%
    min-width: 0
    margin-bottom: 0

    .back
      display: none

    .header
      margin-bottom: 0

    .highscore
      display: none

    .title
      position: relative
      font-size: .6em
      cursor: pointer

      &:hover:after
        display: inline-block
        content: "Click to show more"

        position: absolute
        top: -2em
        left: 0

        font-size: .5em
        white-space: nowrap
        padding: .2em

        color: #fff
        background: $color_blue
        border-radius: .2em

    ol
      font-size: 1em

.game-grid
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-auto-rows: 20em

  min-width: 60em
  width: 60%
  margin: 0 auto

.error
  position: fixed
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

  padding: 1em
  border-radius: 1em

  color: $color_red
  background: #0004

@media only screen and (max-width: 1111px)
  .game
    .back
      transform: translate(0, -300%)

@media only screen and (max-width: 860px)
  .game, .game-grid
    min-width: 0
    width: 100%

@media only screen and (max-width: 550px)
  #app
    font-size: 2.5vw
